{
  "semi": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 100,
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxBracketSameLine": false
}
